html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  font-family: Arial, sans-serif;
}

#map {
  width: 100%;
  height: 100%;
}

/* Leaflet */
.leaflet-container {
  background: #000;
}

/* POPUP */
.popup-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
}

.popup-table {
  width: 100%;
  font-size: 12px;
}

.popup-table td {
  padding: 2px 4px;
}

/* CONTROL DE CAPAS */
.leaflet-control-layers {
  background: rgba(0,0,0,0.75);
  color: white;
  border-radius: 6px;
}

.leaflet-control-layers label {
  color: white;
}

