/* ==================================
   CONTROLES LEAFLET (CAPAS Y ZOOM)
   ================================== */

/* Control de capas */
.leaflet-control-layers {
  background: rgba(0, 0, 0, 0.85) !important;
  color: #ffffff !important;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 0 0 6px rgba(0,0,0,0.6);
}

.leaflet-control-layers label {
  color: #ffffff !important;
  font-size: 13px;
}

.leaflet-control-layers-selector {
  accent-color: #ff5500;
}

/* Botones + y - (zoom) */
.leaflet-control-zoom a {
  background: rgba(0, 0, 0, 0.85) !important;
  color: #ffffff !important;
  border: none !important;
}

.leaflet-control-zoom a:hover {
  background: #ff5500 !important;
  color: #000000 !important;
}
