html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

#map {
  width: 100%;
  height: 100%;
}

/* Evita fondo gris si no hay tiles */
.leaflet-container {
  background: #000;
}
