body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  height: 100vh;
}

/* PANEL */
#panel {
  width: 360px;
  padding: 16px;
  background: #f5f5f5;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

#panel h2 {
  margin-top: 0;
}

.bloque {
  margin-bottom: 18px;
}

.valor-grande {
  font-size: 24px;
  font-weight: bold;
}

.positivo {
  color: green;
}

.negativo {
  color: red;
}

/* MAPA */
#map {
  flex: 1;
}
